<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-for partie 2</title>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
    <p>Quelle langage de programmation connaissez-vous ?</p>
    <input type="text" v-model="language">
    <button @click="add">Valider</button>
    
    <!-- Nous allons afficher le tableau languages dans un ul->li -->

    <ul>
        <li v-for="lang in languages">{{ lang }}</li>
    </ul>

    </div>

    <script type="module">

        app = Vue.createApp(
            {
                //model, ici les données de la page.
                data() {
                    return {
                       language: "",
                       languages: []
                    }
                },
                methods: {
                    add() {
                        this.languages.push(this.language)
                        this.language = "";
                    }
                }
               
            }
        ).mount("#app");



    </script>
</body>
</html>